<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85808799514-e4auoq1579v984ggecdkhetngfcreo21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85808799514-e4auoq1579v984ggecdkhetngfcreo21</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>85808799514-unbtbvq5cbqnaqhheu5pvdnijnmf24co.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbjBEJrnk58ntWNIdcHgqv9BgnnQRK2mM</string>
	<key>GCM_SENDER_ID</key>
	<string>85808799514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.possibility.FuelSrv</string>
	<key>PROJECT_ID</key>
	<string>fuelsrv-1553171946034</string>
	<key>STORAGE_BUCKET</key>
	<string>fuelsrv-1553171946034.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85808799514:ios:45743f54dfa034d9</string>
	<key>DATABASE_URL</key>
	<string>https://fuelsrv-1553171946034.firebaseio.com</string>
</dict>
</plist>